
/* 
-----BOX_MODEL-----
width,height
padding
border
margin 
-------------------
*/

body{
    background-color: aqua;
}

h1 {
    background-color: blueviolet;
    padding: 40px;
    margin: 100px;
    border: 5px solid brown;
    width: 200px;
    height: 200px;
    text-align: center;
    color: white;
}
.box_model1{
    padding: 50px;
    margin: 66px;
    border:20px solid brown ;
    width: 60px;
    height: 40px;
}