.yellow {
    background-color: yellow;
}
.red {
    background-color: red;
}
.blue {
    background-color: blue;
}
.o {
    background-color: orange;
}
.g {
    background-color: greenyellow;
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.one, .two, .three {
    width: 33.333333333%
}